.content_title_select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -webkit-appearance: none;
    -moz-appearance:    none;
    box-sizing:         border-box;
    
    background-image:
        linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%);
    background-position:
        calc(100% - 15px) calc(1em),
        calc(100% - 10px) calc(1em),
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
    
    
    border:        1px solid #ddd;
    border-radius: 3px;
    box-shadow:    inset 0 1px 1px rgba(0,0,0,.075);
    
    /** padding-left for chrome **/
    -webkit-padding-start: 5px;
    
    font-family: "segoe ui","trebuchet MS","Lucida Sans Unicode","Lucida Sans",Sans-Serif;
    font-size:   .8em;
    
    color: #444;
    
    height: 30px;
}

/** padding-left for firefox **/
@-moz-document url-prefix() {
    .content_title_select { padding-left: 3px; }
}

.content_title_select:focus {
  background-image:
    linear-gradient(315deg, #888 50%, transparent 50%),
    linear-gradient(225deg, transparent 50%, #888 50%);
}


/**
* Remove dotted line on click
**/
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

.content_title_select, .content_title_button { margin-left: 10px; }

/**
* Remove dotted line on click
**/
.content_title_button::-moz-focus-inner { border: 0; }


/**
* So that they dont move on editor toggle
**/
.content_title_button {
    margin-top: 2px;
}


#lng_sel, #theme_sel, #font_sel, #util_sel { width: 140px; }
#font_size_sel { width: 60px; }

#toggle_editor_button { width: 86px; }


/*************
* CodeMirror
*************/
.CodeMirror-lint-marker-error, .CodeMirror-lint-marker-warning {
    position: relative;
    
    left: 3px;
}

.CodeMirror {
    width: 100% !important;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.CodeMirror-scroll {    
    cursor: text;
}
.CodeMirror-gutters {
    cursor: default;
}
.CodeMirror-focused .cm-matchhighlight {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFklEQVQI12NgYGBgkKzc8x9CMDAwAAAmhwSbidEoSQAAAABJRU5ErkJggg==);
    background-position: bottom;
    background-repeat: repeat-x;
}
.cm-matchhighlight {background-color: lightgreen}
.CodeMirror-selection-highlight-scrollbar {background-color: green}